<h1>Anti-Patterns</h1>

<h2>Domain Presentation</h2>
<ngm-list>
  <ngm-list-item
    *ngFor='let product of products$ | async'>
      {{product.name}} {{product.price}}
  </ngm-list-item>
</ngm-list>
<ngm-list>
  <ngm-list-item *ngFor='let user of users$ | async'>{{user.email}}</ngm-list-item>
</ngm-list>

<h2>Event Bubbling</h2>
<ngm-smart></ngm-smart>

<h2>Spaghetti Code</h2>
<angular-mastery-posts></angular-mastery-posts>

<h2>Registry pattern</h2>
<angular-mastery-user-registration></angular-mastery-user-registration>

<h2>SSC Architecture</h2>
<angular-mastery-product-list></angular-mastery-product-list>
